<mat-toolbar color="primary">
  <button  mat-icon-button     aira-label="example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <!--<mat-menu #menu="matMenu" yPosition="above">
    <button mat-menu-item routerLink="/sample">Add</button>
    <button mat-menu-item routerLink="/data">Data</button>
    <button mat-menu-item routerLink="/update">Update</button>
    <button mat-menu-item routerLink="delete">Delete</button>
  </mat-menu>-->

  <span><a routerLink="/home">My App</a></span>

  <a routerLink="/home">
    <button mat-icon-button color="light" aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
    </button></a>

  <a routerLink="/sample">
    <button mat-button color="white">Add</button>
  </a>

  <a routerLink="/data">
    <button mat-button color="white">Data</button>
  </a>

  <a routerLink="/update">
    <button mat-button color="white">Update</button>
  </a>

  <a routerLink="/delete">
    <button mat-button color="white">Delete</button></a>


</mat-toolbar>

<div class="container">
</div>



<router-outlet></router-outlet>
