<div class="container">
<br>
<br>

<form class="example-form" [formGroup]="data">


  <mat-radio-group aria-label="select on option" formControlName="user">
    <mat-radio-button value="Fresher">Fresher</mat-radio-button>
    <mat-radio-button value="Experience">Experience</mat-radio-button>
    <br>
  </mat-radio-group>

  <mat-form-field appearance="outline" class="example">
    <mat-label>Id</mat-label>
    <input matInput placeholder="id" formControlName="id">
  </mat-form-field>


  <mat-form-field appearance="outline" class="example">
    <mat-label>Name</mat-label>
    <input matInput placeholder="name" formControlName="name">
    <mat-error *ngIf="data.controls['name'].invalid">{{getname()}}</mat-error>
  </mat-form-field>



  <mat-form-field appearance="outline" class="example">
    <mat-label>Email</mat-label>
    <input matInput placeholder="email" formControlName="email">
    <mat-error *ngIf="data.controls['email'].invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="example">
    <mat-label>Password</mat-label>
    <input matInput [type]="hide? 'password': 'text'" autocomplete="on" formControlName="password">
    <button mat-icon-button matSuffix (click)="hide=!hide" [attr.aria-label]="'Hide password'"
      [attr.aria.pressed]="hide">
      <mat-icon>{{hide? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="outline" class="example">
    <mat-label>Confirm Password</mat-label>
    <input matInput [type]="hide ? 'password': 'text'" autocomplete="on" formControlName="cpassword">
    <button mat-icon-button matSuffix (click)="hide =!hide" [attr.aria-label]="'Hide password'"
      [attr.aria.pressed]="hide">
      <mat-icon>{{hide? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="outline" class="example">
    <mat-label>Select Blood Group</mat-label>
    <mat-select formControlName="blood" required>
      <mat-option *ngFor="let group1 of group" [value]="group1.blood">
        {{group1.blood}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="data.controls['blood'].invalid">{{getblood()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="example">
    <mat-label>Salary</mat-label>
    <input matInput placeholder="salary" formControlName="salary">
  </mat-form-field>

  <mat-form-field appearance="outline" class="example">
    <mat-label>Age</mat-label>
    <input matInput placeholder="age" formControlName="age">
  </mat-form-field>

  <mat-form-field appearance="outline" class="example">
    <mat-label>Street</mat-label>
    <input matInput placeholder="street" formControlName="street">
  </mat-form-field>

  <br>

  <div class="text-center">
    <button (click)="add()" [disabled]="data.invalid" mat-flat-button color="primary"
      style="justify-content:center;">Submit</button>
  </div>

</form>

</div>
