.container{
  padding:20px;
  margin:20px 20px 20px 100px;
  border: 2px dotted black;
}

.radio{
  padding:5px 0px 0px 0px;
  margin-left:4.5rem;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}


table{
  width:100%;
}



