<div class="jumbotron">
  <table mat-table [dataSource]="store" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element; let i=index">{{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>User</th>
      <td mat-cell *matCellDef="let element; let i=index">{{element.user}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element; let i=index">{{element.name | uppercase}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element; let i=index">{{element.email}}</td>
    </ng-container>

    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef>Password</th>
      <td mat-cell *matCellDef="let element; let i=index">{{element.password}}</td>
    </ng-container>

    <ng-container matColumnDef="cpassword">
      <th mat-header-cell *matHeaderCellDef>Confirm Password</th>
      <td mat-cell *matCellDef="let element; let i=index">{{element.cpassword}}</td>
    </ng-container>

    <ng-container matColumnDef="blood">
      <th mat-header-cell *matHeaderCellDef>Blood</th>
      <td mat-cell *matCellDef="let element; let i=index">{{element.blood}}</td>
    </ng-container>

    <ng-container matColumnDef="salary">
      <th mat-header-cell *matHeaderCellDef>Salary</th>
      <td mat-cell *matCellDef="let element; let i=index">{{element.salary | currency:'INR':'symbol'}}</td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef>Age</th>
      <td mat-cell *matCellDef="let element; let i=index">{{element.age}}</td>
    </ng-container>

    <ng-container matColumnDef="street">
      <th mat-header-cell *matHeaderCellDef>Street</th>
      <td mat-cell *matCellDef="let element; let i=index">{{element.street}}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let element;let i=index"><button mat-flat-button color="light" (click)="openDialog(element,i)"><i
            class="far fa-edit"></i></button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="sample"></tr>
    <tr mat-row *matRowDef="let row;columns: sample"></tr>

  </table>
</div>


<!--<div class="container form">
  <h1 class="mat-h1">Form</h1>


  <form [formGroup]="data">

    <mat-radio-group aria-label="select on option" formControlName="user">
      <mat-radio-button value="Fresher">Fresher</mat-radio-button>
      <mat-radio-button value="Experience">Experience</mat-radio-button>
      <br>
    </mat-radio-group>


    <mat-form-field appearance="outline" class="example">
      <mat-label>Id</mat-label>
      <input matInput placeholder="id" formControlName="id">
    </mat-form-field>


    <mat-form-field appearance="outline" class="example">
      <mat-label>Name</mat-label>
      <input matInput placeholder="name" formControlName="name">
    </mat-form-field>


    <mat-form-field appearance="outline" class="example">
      <mat-label>Email</mat-label>
      <input matInput placeholder="email" formControlName="email">
    </mat-form-field>



    <mat-form-field appearance="outline" class="example">
      <mat-label>Password</mat-label>
      <input matInput placeholder="password" autocomplete="on" formControlName="password">
    </mat-form-field>



    <mat-form-field appearance="outline" class="example">
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="cpassword" autocomplete="on" formControlName="cpassword">
    </mat-form-field>


    <mat-form-field appearance="outline" class="example">
      <mat-label>Select Blood Group</mat-label>
      <mat-select formControlName="blood">
        <mat-option *ngFor="let group1 of group" [value]="group1.blood">
          {{group1.blood}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="outline" class="example">
      <mat-label>Salary</mat-label>
      <input matInput placeholder="salary" formControlName="salary">
    </mat-form-field>


    <mat-form-field appearance="outline" class="example">
      <mat-label>Age</mat-label>
      <input matInput placeholder="age" formControlName="age">
    </mat-form-field>



    <mat-form-field appearance="outline" class="example">
      <mat-label>Street</mat-label>
      <input matInput placeholder="street" formControlName="street">
    </mat-form-field>


    <div class="text-center">
      <button (click)="update2()" [disabled]="data.invalid" mat-flat-button color="primary"
        style="justify-content:center;">Update</button>
    </div>

  </form>

</div>-->
